body{
    background:linear-gradient(#ACB5BC,#232B36 100%);
    font-family: Trebuchet MS;
    font-weight: lighter;
}
#wrapper{
    width:900px;
    margin:auto;
}
#menu ul{
    background-color: rgb(119,129,139);
    margin:0px;
    width:1345px;
    position:relative;
    left:-223px;
    padding: 15px 230px;
}
#menu li{
    list-style-type: none;
    display:inline;
    padding-right: 123px;
}
#menu a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    
}
#menu a:hover{
    color:orangered;
}
#image{
    background: url("images/house2.jpg") no-repeat;
    height:300px;
}
#image h3{
    position:relative;
    left:40px;
    color:silver;
    font-size: 30px;
    margin: 0px;
    margin-top:25px;
}
#image h1{
    position:relative;
    left:70px;
    color:rgb(250,154,135);
    font-size: 48px;
    margin: 0px;
}
#image h2{
    position:relative;
    left:170px;
    color:gray;
    font-size: 38px;
    margin: 0px;
}
.content-header{
    background-color: rgb(146,155,164);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color:white;
    width:900px;
    height:290px;
}
.content-header img{
    float:left;
    margin: 40px 20px;
}
.content-header h2{
    margin-top:-42px;
    padding-top:40px;
    font-size: 40px;
}
.content-header h6{
    font-size: 20px;
    margin-top:-15px;
}
.content-header p{
     margin-top:-15px;
     margin-left:25px;
     width:790px;
     font-size: 15px;
    
}

#content1{
    float:left;
    color:white;
    width:200px;
    height: 800px;
    margin-right:60px;
}
#content1 h3{
    font-size: 25px;
    margin-left:20px;
}
#content2 h3{
    font-size: 25px;
    margin-left:20px;
    color:white;
}
#content1 ul li{
    list-style-image: url("images/arrow1.gif");
}
#content2 ul li{
    list-style-type: none;
}
.image{
    float:left;
}
#content2 h6{
    color: rbg(209,213,206);
}




#footer{
    background:linear-gradient(rgb(101,110,121),rgb(119,128,138) 100%);
    margin:0px;
    width:1345px;
    position:relative;
    left:-223px;
    padding: 25px 230px;
    color:white;
    font-size: 14px;
    font-weight: lighter;
   
}
#footer #footer-left{
    float:left;
    margin-right: 610px;
}
