body{
    background:linear-gradient(rgb(144,152,161),rgb(116,126,137));
    font-family: Trebuchet MS;
    font-weight: lighter;
}
#wrapper{
    width:900px;
    margin:auto;
    
}
#menu ul{
    background-color: rgb(119,129,139);
    margin:0px;
    width:1345px;
    position:relative;
    left:-223px;
    padding: 15px 240px;
    border-bottom: solid thin white;
    
}
#menu li{
    list-style-type: none;
    display:inline;
    padding-right: 123px;
}
#menu a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    
}
#menu a:hover{
    color:orangered;
}
#image{
    background: url("images/house2.jpg") no-repeat;
    height:300px;
    width:920px;
}
#image h3{
    position:relative;
    left:40px;
    color:silver;
    font-size: 30px;
    margin: 0px;
    margin-top:25px;
}
#image h1{
    position:relative;
    left:70px;
    color:rgb(250,154,135);
    font-size: 48px;
    margin: 0px;
}
#image h2{
    position:relative;
    left:170px;
    color:gray;
    font-size: 38px;
    margin: 0px;
}
.content-header{
    background-color: rgb(146,155,164);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color:white;
    width:920px;
    height:290px;
}
.content-header img{
    float:left;
    margin: 40px 20px;
}
.content-header h2{
    margin-top:-42px;
    padding-top:40px;
    font-size: 40px;
}
.content-header h6{
    font-size: 20px;
    margin-top:-15px;
}
.content-header p{
     margin-top:-25px;
     margin-left:25px;
     width:840px;
     font-size: 16px;
    
}

#content1{
    float:left;
    color:white;
    width:200px;
    margin-right:60px;
}
#content1 h3{
    font-size: 25px;
    margin-left:20px;
}
#content2 h3{
    font-size: 25px;
    margin-left:20px;
    color:white;
}
#content1 ul li{
    list-style-image: url("images/arrow1.gif");
    padding-bottom: 8px;
}
#content1 a{
    color:rgb(209,213,206);
    font-size:12px;
    
}
#content2 ul li{
    list-style-type: none;
}
.image{
    float:left;
    
}
#content2 ul li h6{
    color:rgb(209,213,206);
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    
}
#content2 ul li p{
    color:whitesmoke;
    font-size:13px;
    font-weight: lighter;
    margin-top:-15px;
}



#footer{
    background:linear-gradient(rgb(101,110,121),rgb(119,128,138));
    margin-top:50px;
    width:1345px;
    position:relative;
    left:-223px;
    padding: 15px 240px;
    color:white;
    font-size: 13px;
    font-weight: lighter;
    border-top: solid thin white;
   
   
}
#footer #footer-left{
    float:left;
    margin-right: 610px;
}
#content-villa{
    color:white;
}

#content-villa h1{
    font-size:36px;
    padding:0px 18px;
    margin-top: -5px;
}
#content-villa a{
    padding:0px 18px;
    
}
#content-villa a img{
    margin-top: -8px;
    border:solid rgb(250,154,135);
}
#content-villa pre{
    margin-left:-65px;
    font-family: Trebuchet MS;
    font-weight: lighter;
    font-size: 13px;
}

.content-header1{
    background-color: rgb(146,155,164);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color:whitesmoke;
    width:920px;
    height:390px;
    
}
.content-header1 img{
    float:left;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 25px;
    border:solid white;
}
.content-header1 h2{
    margin-top:-42px;
    padding-top:40px;
    font-size: 40px;
}

.content-header1 p{
     margin-top:-15px;
     width:900px;
     font-size: 13px;
     
}

.content-header2{
    background-color: rgb(146,155,164);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color:white;
    width:920px;
    height:205px;
}
.content-header2 img{
    float:left;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 30px;
    border:solid thin white;
}
.content-header2 h2{
    margin-top:-42px;
    padding-top:35px;
    font-size: 40px;
}

.content-header2 pre{
     margin-top:-25px;
     font-size: 13px;
     font-family: Trebuchet MS;
}
.content-header2 a{
    color:rgb(250,154,135);
}
.content-header3{
   
    color:whitesmoke;
}
.content-header3 img{
    float:left;
    margin-left:20px;
    margin-top:-5px;
    margin-right: 20px;
    margin-bottom: 30px;
    border:solid rgb(250,154,135);
    
}
.content-header3 h1{
    font-weight: lighter;
    font-size: 35px;
    margin-top:-4px;
    margin-left:20px;
}
.content-header3 h6{
    margin-top:-5px;
    font-size: 13px;
    font-weight: bold;
}
.content-header3 p{
     margin-top:-20px;
     margin-right: 20px;
     margin-bottom: 10px;
     font-size: 13px;
     font-weight:lighter; 
     
}
.content-header3 a{
    color:rgb(250,154,135);
    font-size: 13px;
}
#exterior{
    float: left;
}


#table{
    width: 870px;
    height: 170px;
    margin-top: -60px;
    margin-left: 20px;
    border-collapse: collapse;
    border:solid white;
    color:white;
    font-weight: bold;
    margin-bottom: 40px;
}
#table td, #table th{
	border:solid thin;
}

#table #head tr th{
    background-color: silver;
    text-align: center;
    border-bottom:thin white;
    font-size: 19px;
    
    
}
#table .lefted{
    text-align: left;
    text-indent:5px;
    font-weight: bold;
}
